.App {
  min-height: 100vh;
  background-color: rgb(200, 255, 200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: black;
}

h1 {
  text-align: center;
  margin: 20px 0 30px;
}

a {
  color: blue;
  text-decoration-line: none;
}

.NavItem {
  background-color: green;
  padding: 10px;
  font-weight: bold;
}

.View {
  margin: 10px 20px 20px;
  width: 60%;
  border: 2px solid green;
  border-radius: 20px;
  padding: 5px 20px 20px;
}

h2 {
  background-color: rgb(200, 255, 200);
  padding: 10px 0;
  margin: 0 0 5px;
  position: sticky;
  top: 0;
}

.PositionRight {
  position: absolute;
  right: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

th {
  padding: 5px;
  text-align: left;
}

td {
  border-top: 1px solid lightgrey;
  padding: 5px;
}

.AlignRight {
  text-align: right;
}

input {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 3px;
}

button {
  background-color: green;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  color: white;
}
button:active {
  background-color: darkgreen;
}